@import "tailwindcss";

/* On utilise du CSS classique que VS Code comprend sans extension */
input, select {
  outline: none;
  transition: all 0.2s;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

input:focus, select:focus {
  border-color: #3bf65a9d;
  box-shadow: 0 0 0 2px #21a548;
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background-color: white !important;
  }
  .print-container {
    width: 210mm;
  }
}